[submodule "src/lib/LICK"]
	path = src/lib/LICK
	url = https://github.com/usysrc/LICK.git
[submodule "src/lib/REST-love"]
	path = src/lib/REST-love
	url = https://github.com/MrcSnm/REST-love.git
[submodule "src/lib/hump"]
	path = src/lib/hump
	url = https://github.com/vrld/hump.git
[submodule "src/lib/lurker"]
	path = src/lib/lurker
	url = https://github.com/rxi/lurker.git
[submodule "src/lib/lume"]
	path = src/lib/lume
	url = https://github.com/rxi/lume.git
